body  {
    margin:50px;
    background-image:url("background.png");
}
#logo  {
    display:block;
    vertical-align: top;
    background-image:url("npslogo.png");
    width:120px;
    height:81px;
    padding:0;
    margin:auto;
}
#heading  {
    display:block;
    background-image:url("heading.png");
    width:904px;
    height:81px;
    margin:10px;
    margin-top:0;
    /*
    text-align:center;
    font-family: sans-serif;
    margin:auto;
    padding:10px;
    color:#00ffff;*/
}
#navbar  {
    text-align:center;
}
ul  {
    text-align:center;
    list-style-type: none;
    margin:0;
    padding:0;
    overflow:hidden;
    margin:auto;
    display:inline-block;
}
li  {
    display:inline;
    float:left;
    margin-right:0px;
    margin-bottom:10px;
}
li a  {
    display:block;
    width:60px;
    text-decoration: none;
    text-align:center;
    color:#000000;
    background-color:#ffffff;
    font-size: 1.2em;
    padding:14px 16px; 
}
li a:hover  {
    background-color: #000000;
    color:#ffffff;
}
input  {
    display:block;
    margin:10%;
}
#content  {
    font-size: 1.1em;
    text-align:center;
    padding-left:40%;
    padding-right:40%;
}
.cyan-heading  {
    color:#00ccff;
    font-weight: bold;
}
.signup  {
    vertical-align:top;
    display:inline-block;
    color:#00ccff;
    padding:10% 20%;
    background-image:url("box_bg.jpg");
}
.signin  {
    vertical-align:top;
    display:inline-block;
    text-align:center;
    padding:10% 20%;
    background-image:url("vortex_bg.jpg");
}